<!DOCTYPE html>
<html>
    <head>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
      <div class = "container">
        <div class = "jumbotron">
        <h1 class = "text-center">Livescience Scraper</h1>
        <a href ="save">Saved news articles</a>
         <a href ="/">All news articles</a>
      </div>
      {{{body}}}
      </div>
    </body>
</html>